.project {
    border: 2px solid black;
    background: teal;
}

.project:nth-of-type(2) {
    background: fuchsia;
  }

.project:nth-of-type(7) {
    background: fuchsia;
  }

.project:nth-of-type(n):hover {
    background:green;
  }