.header {
    position: relative;
}

.header p {
    font-size: 25px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header a {
    color: black;
    border: white 2px solid;
}