.header {
    position: relative;
}

.header p {
    font-size: 25px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header a {
    color: #0c7b93;
    border: white 2px solid;
}

h1, h2, h4 {
    color: #0c7b93;
}

h1:hover, h2:hover, h4:hover {
    color: #00a8cc;
}